{% extends "base.html" %}

{% block content %}
<div style="text-align: center; margin-top: 50px;">
    <h1 style="font-size: 36px; color: #333;">Волонтерство</h1>
    <p style="font-size: 18px; color: #666;">Это проект, созданный специально для тех людей,
    которые хотели бы помочь другим людям.</p>
    <div style="margin-top: 30px;">
        <h2 style="font-size: 24px; color: #333;">Создатели проекта:</h2>
        <ul style="list-style-type: none; padding: 0;">
            <li style="font-size: 20px; color: #666;">Родионова Мария</li>
            <li style="font-size: 20px; color: #666;">Старостин Федор</li>
        </ul>
    </div>
</div>
{% endblock %}

