<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карта с адресом</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <style>
        #map { height: 10px; weight: 5  px;}

    </style>
</head>
<body>
<h1>{{ params.job }}</h1>


<h2>Сфера {{ params.spher }}</h2>
<h2>Описание:<br> {{ params.des }}</h2>

<h2>Возраст: {{params.age}}</h2>

<h2>Автор(ы): {{params.user.name}}</h2>
<h1>Карта с адресом</h1>
<div id="map">{{ adr|safe }}</div>
</body>
</html>